@include establish-baseline;

* {
  @include box-sizing(border-box);
}

html {
  background-color: #fff;
}

body {
  @include container;
  font-family: Helvetica, sans-serif;
  color: #333;
}

h1 {
  @include adjust-font-size-to(30px);
}

h2 {
  @include adjust-font-size-to(24px);
  @include trailer(1);
  font-weight:bold;
}

h3 {
  @include adjust-font-size-to(20px);
  font-weight:bold;
  color: #999;
}

table {
  width:100%;
  @include adjust-font-size-to(14px);
  @include trailer(1);

  tr {
    border-bottom: 1px dotted #ccc;
  }

  thead tr {
    border-bottom: 2px solid #999;
  }

  th {
    font-weight:bold;
  }

  th,td {
    vertical-align:top;
    padding: rhythm(0.25) 0;
  }
}

ul {
  list-style:square;
  margin-left: rhythm(1);
}

p,ul,ol,dl {
  @include trailer(1);
}

a {

  &:link {
    color: #39f;
  }

  &:visited {
    color: #38c;
  }

  &:hover {
    color: #36f;
  }

  &:focus {
    color: #36f;
  }

  &:active {
    color: #555;
  }

}

.kicker {
  color: #999;
  @include adjust-font-size-to(12px);
  display:block;
  font-weight:bold;
}

header[role="banner"] {
  @include background(
    rgba(0,0,200, 0.05)
  );
  @include pad(1,1);
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
  border-bottom: 1px solid rgba(0,0,200,0.1);
  @include clearfix;

  h1 {
    @include adjust-font-size-to(16px);
    margin:0;
    font-weight:bold;
    color:rgba(0,0,0,0.5);
  }

  hgroup {
    @include span-columns(6,12);
  }
  #courtesy {
    @include span-columns(6 omega, 12);
    text-align:right;
    p {
      margin:0;
      font-weight:bold;
      @include adjust-font-size-to(12px);
    }
  }
}

#primary-nav {
  @include clearfix;
  @include pad(1,1);
  padding-top:rhythm(0.5);
  @include adjust-font-size-to(14px);

  ul {
    margin-left:0;
  }

  li {
    display:inline;
  
    & + li:before {
      content: "| ";
      color: rgba(0,0,0,0.5);
    }
  }
}

div[role="main"] {
  @include clearfix;
  @include pad(1,1);

  h1 {
    margin-bottom: rhythm(0.5);
  }

  #facets,
  #package {
    @include span-columns(3,10);
  }

  #package {
    .dates {
      list-style:none;
      margin-left:0;
      padding-left:0;
      @include adjust-font-size-to(12px);
      color: #999;
      border-top: 1px dotted #ccc;

      li {
        border-bottom: 1px dotted #ccc;
        padding: rhythm(0.25) 0;
      }
    }

    input[type=text],
    select {
      width: 100%;
      border: 1px solid #999;
      padding: 5px;
    }
  }

  #results,
  #object {
    @include span-columns(7 omega, 10);

    .result {
      border: 1px solid #ddd;
      padding: 20px;

      margin-bottom: rhythm(1);

      .health-check {
        margin: 0 -20px -20px;
        padding: 10px 20px;
        border: 1px solid #fff;
        @include adjust-font-size-to(12px);
        font-weight:bold;
      }

      .meta {
        @include adjust-font-size-to(12px);
        color: #999;
      }

      .good {
        background-color: rgba(0, 255, 0, 0.25);
      }

      .bad {
        background-color: rgba(255, 0, 0, 0.25);
      }
    }

  }
}

section {
  @include span-columns(5,10);
  &#recent-ingests {
    @include span-columns(5 omega, 10);

  }
}

#chart {
  height: 200px;
  background: #eee;
  margin-top:rhythm(0.5);
}


.ingests {
  list-style:none;
  margin-left:0;
  li {
    padding: rhythm(0.5);
    margin-bottom: rhythm(0.5);

    p {
      margin:0;
      @include adjust-font-size-to(14px);

      .progress & {
        margin-top: rhythm(0.5);
      }
    }

    h2 {
      @include adjust-font-size-to(18px);
      margin:0;
    }

    & + li {
      border-top: 1px dotted rgba(0,0,0,0.25);
    }

    &.completed {
      background-color: rgba(0, 255,0, 0.1);
      border: 1px dotted rgba(0,0,0,0.25);
    }

    &.failed {
      background-color: rgba(255,0,0,0.1);
      border: 1px dotted rgba(0,0,0,0.25);

      .progress {
        color: rgba(255,0,0,1);
        font-weight:bold;
      }
    }
  }
}
