@include establish-baseline;

* {
  @include box-sizing(border-box);
}

html {
  background-color: #fff;
}

body {
  @include container;
  font-family: Helvetica, sans-serif;
  color: #333;
}

h1 {
  @include adjust-font-size-to(30px);
}

h2 {
  @include adjust-font-size-to(24px);
  @include trailer(1);
  font-weight:bold;
}

h3 {
  @include adjust-font-size-to(20px);
  font-weight:bold;
  color: #999;
}

table {
  width:100%;
  @include adjust-font-size-to(14px);
  @include trailer(1);

  tr {
    border-bottom: 1px dotted #ccc;
  }

  thead tr {
    border-bottom: 2px solid #999;
  }

  th {
    font-weight:bold;
  }

  th,td {
    vertical-align:top;
    padding: rhythm(0.25) 0;
  }
}

ul {
  list-style:square;
  margin-left: rhythm(1);
}

p,ul,ol,dl {
  @include trailer(1);
}

a {

  &:link {
    color: #39f;
  }

  &:visited {
    color: #38c;
  }

  &:hover {
    color: #36f;
  }

  &:focus {
    color: #36f;
  }

  &:active {
    color: #555;
  }

}

.kicker {
  color: #999;
  @include adjust-font-size-to(12px);
  display:block;
  font-weight:bold;
}

header[role="banner"] {
  @include background(
    rgba(0,0,200, 0.05)
  );
  @include pad(1,1);
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
  border-bottom: 1px solid rgba(0,0,200,0.1);
  @include clearfix;

  h1 {
    @include adjust-font-size-to(16px);
    margin:0;
    font-weight:bold;
    color:rgba(0,0,0,0.5);
  }
  
  h2 {
  	margin:0;
  }

  hgroup {
    @include span-columns(6,12);
  }
  #courtesy {
    @include span-columns(6 omega, 12);
    text-align:right;
    p {
      margin:0;
      font-weight:bold;
      @include adjust-font-size-to(12px);
    }
  }
}

footer {
	border-top: 1px solid $default-color-lightest;
	margin-top:rhythm(1);
	  @include pad(1,1);
	  @include clearfix;
	
	hgroup {
	 @include span-columns(6,12);
	}
	
	ul {
		margin:0;
	}
	
		
	li {
		font-size: 12px;
		list-style: none;
		display: inline;
		margin:0
	}
	
	li:after {
		content: "|";
	}
	
	li:first-child:after {
		content: "";
	}
}

#primary-nav {
  @include clearfix;
  @include pad(1,1);
  padding-top:rhythm(0.5);
  @include adjust-font-size-to(14px);

  ul {
    margin-left:0;
  }

  li {
    display:inline;
  
    & + li:before {
      content: "| ";
      color: rgba(0,0,0,0.5);
    }
  }
}

div[role="main"] {
  @include clearfix;
  @include pad(1,1);

  h1 {
    margin-bottom: rhythm(0.5);
  }

  #facets,
  #package {
    @include span-columns(3,10);
  }

  #package {
    .dates {
      list-style:none;
      margin-left:0;
      padding-left:0;
      @include adjust-font-size-to(12px);
      color: #999;
      border-top: 1px dotted #ccc;

      li {
        border-bottom: 1px dotted #ccc;
        padding: rhythm(0.25) 0;
      }
    }

    input[type=text],
    select {
      width: 100%;
      border: 1px solid #999;
      padding: 5px;
      border-radius: 10px;
    }
  }
  
  .x {
  	font-size: 14px;
  	font-weight: bold;
   	
  }
  
  #filters {
  	ul,h3 {
  		display: inline-block;
  	}
  
  	ul {
  		margin-left: 5px;
  	}
  
  	li {
  		list-style: none;
  		display: inline;
  		margin-right: 10px;
			
  		div {
  		
  			border-radius:5px 5px 5px 5px;
  			background-color: rgb(230,230,230);
			display: inline-block;
			color: $default-color;
			
	  		
	  		div {
				padding:0px 5px 0px 5px;
	  		}
	  		
	  		div:first-child {
				border-radius:5px 0px 0px 5px;
	  		}
	
	  		div:last-child {
				color: white;
				border-radius:0px 5px 5px 0px;
				background-color: $default-color-lighter;

			}  		
			
			a {
				text-decoration:none;
			}

			div:last-child:hover {
				background-color: $default-color-lightest;
				color: rgba(255,0,0, 0.7);
			}		
  		}
  	}
  }

  #results,
  #object {
    @include span-columns(7 omega, 10);
	#search-text-field {
		margin-bottom: rhythm(1);
		height: 40px;
		width: 100%;
		font-size: 18px;
		padding-left:10px;
		border-radius: 5px;
		background-color: $absolute-lightest;
	}
	
	
	
    .result {
      border: 1px solid #ddd;
      padding: 20px;

      margin-bottom: rhythm(1);

      .health-check {
        margin: 0 -20px -20px;
        padding: 10px 20px;
        border: 1px solid #fff;
        @include adjust-font-size-to(12px);
        font-weight:bold;
      }

      .meta {
        @include adjust-font-size-to(12px);
        color: #999;
      }

    }

  }
}

.good,.info {
  background-color: rgba(0, 255, 0, 0.25);
}

.bad, .error {
  background-color: rgba(255, 0, 0, 0.25);
}


section {
  @include span-columns(5,10);
  &#recent-ingests {
    @include span-columns(5 omega, 10);

  }
}

#chart {
  background: #999;
/*  margin-top:rhythm(0.5);*/
}



.ingests {
  list-style:none;
  margin-left:0;
  li {
    padding: rhythm(0.5);
    margin-bottom: rhythm(0.5);

    p {
      margin:0;
      @include adjust-font-size-to(14px);

      .progress & {
        margin-top: rhythm(0.5);
      }
    }

    h2 {
      @include adjust-font-size-to(18px);
      margin:0;
    }

    & + li {
      border-top: 1px dotted rgba(0,0,0,0.25);
    }

    &.completed {
      background-color: rgba(0, 255,0, 0.1);
      border: 1px dotted rgba(0,0,0,0.25);
    }

    &.failed {
      background-color: rgba(255,0,0,0.1);
      border: 1px dotted rgba(0,0,0,0.25);

      .progress {
        color: rgba(255,0,0,1);
        font-weight:bold;
      }
    }
  }
}

label {
 float: left;
    width: 5em;  
    margin-right: 1em;
    
}

.chart {
  height:200px;
  width:500px;
  display:inline-block;
}

table{
 	margin-bottom: 1em;
}
 
.legend {
  display:block;
  color: #EEE;
  padding:5px; 
  width: 150px;

  table {
    border: 1px solid #555;
  }

  .legendLabel{
    color: #EEE;
  }
  
  td {
    padding:  4px 5px 4px 5px;
    vertical-align:middle;
  }

}
         
.error {
	border: 1px solid rgba(255,0,0,0.7);
	color: rgba(255,0,0,0.7);
	background-color: rgba(255,0,0,0.2);
	padding: 10px;
	margin-bottom: 10px;
	
}

#monthly-activity {
  padding:10px; 
  background-color:#999;
  
  h2 {
    margin-bottom: 1em;
    color: $default-color-lightest;
  }
}

