// Compass Variables
$base-font-size: 16px;
$base-line-height: 28px;

/* Susy Variables */
$gutter-width: 4em;
$grid-padding: 0;
$container-style: fluid;

// Colors
$dark-grey: rgba(0,0,0,0.7);
$light-grey: rgba(0,0,0,0.5);
$lightest-grey: rgba(0,0,0,0.2);
$absolute-lightest: rgb(250,250,250);

$default-color: rgb(60,60,60);
$default-color-light: rgba($default-color, 0.75);
$default-color-lighter: rgba($default-color, 0.5);
$default-color-lightest: rgba($default-color, 0.25);

$link-color: rgb(90,60,110);
$link-color-light: lighten($link-color, 10%);
$link-color-alternate: rgb(186, 158, 6);
$link-color-alternate-light: lighten($link-color-alternate, 10%);

$border-shadow: rgba(0, 0, 0, .15);
$border-highlight: rgba(255, 255, 255, .09);

// Fonts
$font-family-default: "Crimson Text", Georgia, serif;
$font-family-alternate: "Cabin", Arial, sans-serif;
